.container {
    display: flex;
    justify-content: center;
    --align-items: center;
    width: 60%;
}

.phone {
    width: 100%;
    background: url('./../../../../assets/images/phone-block_background.svg') no-repeat center center;
}